# GitHub Desktop
_site/
.sass-cache/
.jekyll-metadata

# Roslyn cache directories
*.ide/
# Visual Studio 2015-present cache/options directory
.vs/

# Standard OS crap
Thumbs.db
Desktop.ini
.DS_Store

# Ruby
Gemfile.lock
